<link rel="stylesheet" href="../../static/css/burger_menu.css">

<nav id="menu">
    <h2>Меню</h2>
    <ul>
        <li><a href="{{ url_for('home') }}" class="button">Главная</a></li>
        <li><a href="{{ url_for('contact') }}" class="button">Контакты</a></li>
        <li><a href="{{ url_for('about') }}" class="button">О нас</a></li>
        <li><a href="{{ url_for('generic') }}" class="button">Generic</a></li>
        <li><a href="{{ url_for('elements') }}" class="button">Elements</a></li>
    </ul>
</nav>