<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    {% include 'includes/head.html' %}
</head>

<body class="is-preload">
    <div id="wrapper">
        <!-- Header -->
        {% include 'includes/header.html' %}

        <!-- Menu -->
        {% include 'includes/burger_menu.html' %}

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <h1>О нашем сайте</h1>
                <p>Это учебный проект для изучения веб-разработки на Python.</p>
                <p>Мы используем Flask - микрофреймворк для веб-приложений.</p>
            </div>
        </div>

    </div>
    <!-- Scripts -->
    {% include 'includes/scripts.html'%}
</body>

</html>