<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    {% include 'includes/head.html' %}

</head>

<body class="is-preload">
    <div id="wrapper">

        <!-- Header -->
        {% include 'includes/header.html' %}

        <!-- Menu -->
        {% include 'includes/burger_menu.html' %}

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <h1>Контакты</h1>
                <p>Email: example@email.com</p>
                <p>Телефон: +7 (123) 456-78-90</p>
            </div>
        </div>

    </div>
    <!-- Scripts -->
    {% include 'includes/scripts.html' %}
</body>

</html>